@model SigortaSirketi

<h2>Sigorta Şirketi Düzenle</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <div>
        <label>Ad</label>
        <input asp-for="Ad" class="form-control" />
        <span asp-validation-for="Ad" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>
