@* Views/Shared/_Sidebar.cshtml *@
<ul class="nav flex-column p-2">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Index">
            <i class="bi bi-speedometer2 me-2"></i>Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Police" asp-action="Index">
            <i class="bi bi-file-earmark-text me-2"></i>Poliçeler
        </a>
    </li>
</ul>
